h1 {
  font-size: 26px;
  font-weight: bold;
}

ol {
  list-style-type: decimal;
  margin-left: 40px;
}

li {
  font-weight: medium;
}

ol li:nth-child(even) {
  background-color: lightgray;
}
ol li:nth-child(odd) {
  color: #5584b4;
}
